<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "./styles.css" rel = "stylesheet">
    <script src="https://kit.fontawesome.com/b8d968d2f1.js" crossorigin="anonymous"> </script>
    <title>Login</title>
</head>
<body>
    <header class="header">
        <div class="logo"> <img width=60% src="images/Carpincho-Drinks-Logo.jpg"> </div>
        <ul class="encabezado">
            <li>Productos</li>
            <li>Nosotros</li>
            <li>Contactenos</li>
        <li class="lupita"> <i class="fa-solid fa-magnifying-glass"></i></li>
        <li class= "changuito"> <i class="fa-solid fa-cart-shopping"></i> </li>
    </ul>       
    </header>
    <br></br>
    <p class="texto"> ¡Hola! Ingresa tu usuario</p>
    <form action = "/login" method="get">
        <div class="login">
        <p class="usuario"><input type = "text" name = "usuario" placeholder="nombre de usuario"></p>
        <p class="password"><input type="password" name = "contraseña" placeholder = "contraseña"> 
        </p>
        <p class="recupera"> <a href= > recupera tu contraseña </a></p>
        <p class="button"><input type="submit" name="enviar"></p>
        </div> </form>
        <p class = "nuevosClientes"> Nuevos Clientes</p>
        <button class="crearUsuario">Crear Usuario</button>
    <footer></footer>
</body>
</html>