*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    
    background-color: #FCF8E8;
}

header{
    display: flex;
    height: 80%;
    align-items: center;
    background-color:  #94B49F;
}

.encabezado{
    display: flex;
    width: 80%;
    justify-content: end;
    flex-grow: 0.7;
    margin-right: 5%;
    font-size: 1vw;
}

.logo{
    flex-grow: 0.3;
}

.logo img{
    width: 120%;
    color: #94B49F;
    margin: -1.5% 0px;
}

.encabezado li {
    margin: 0px 2%;
    border-radius: 5%;
    background-color: rgba(252, 248, 232,0.5);
}

.encabezado li p{
    border-radius: 5%;
}


main{
    display: flex;
    width: 75%;
    margin: 5% 25%;
    
}

main #boton-comprar{
    width: 60%;
    flex-wrap: wrap;
    margin: 10% 0px;
    background-color: rgb(236, 179, 144);
    border: 0px;
}

main img{
    width: 40%;
    border: solid 1px #ebebeb;
    flex-grow: 1;
}

#descripcion{
    flex-grow: 1;
    margin:0px 2%;
}

#descripcion h2{
    font-size: 2.2vw;
}
#descripcion b{
    display: block;
    font-size:1.8vw;
    margin: 4% 0%;
}

#envio-retiro{
    margin-left: 2%;
}

#envio-retiro {
    margin-left: 2%;
}

#envio-retiro ul{
    margin-right: 10%;
    padding-bottom: 10%;
}

#envio-retiro li{
    display: flex;
    margin: 3% 0px;
    width: 100%;
    font-size: 1vw;
    align-items: center;
}

#envio-retiro li i{
    padding: 0% 5%;
}

#opcion-bebida{
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;

}

#opcion-bebida select{
    width: 60%;
    height: 2vw;
    border-radius: 3%;
    border: solid 2px #ebebeb;
    margin: 2% 2%;
}